.responsive{
    padding: 100px;
    display: flex;
    flex-direction: row;
  }

@media only screen and (max-width: 991px){
 /* CSS that should be displayed if width is equal to or less than 991px goes here */
 .responsive{
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  img {
    width: 100%;
    height: auto;
  }
}