img {
width: 45%;
height: auto;
padding: 10px
}
.container {
    padding: 10px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}
.responsive{
    padding: 100px;
    display: flex;
    flex-direction: column;
  }
@media only screen and (max-width: 768px){
 /* CSS that should be displayed if width is equal to or less than 768px goes here */
 .responsive{
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  img {
    width: 100%;
    height: auto;
    padding: "10px"
  }

}