body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: rgba(52,0,108,1);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html, body, #root {
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  margin:0;
  padding:0;
  text-align: center;
}

@font-face {
  font-family: 'ShadeBlue';
  src: url('./fonts/ShadeBlue-2OozX.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ShortBaby';
  src: url('./fonts/ShortBaby-Mg2w.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArianaVioleta';
  src: url('./fonts/ArianaVioleta-dz2K.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
